/* *Selector {
  property: value
} */

nav ul {
  background-color: green; /* Background color of the navigation bar */
  color: white; /* Text color */
  padding: 10px; /* Padding around the content inside the navigation bar */
}

* {
  text-align: right;
}

h2 {
  color: red;
  text-align: center;
}

.camelface {
  float: left;
}

body {
  color: white;
  background-image: url(food.JPG);
  background-size: cover;
}
p {
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
  line-height: 50px;
  font-style: italic;
  font-style: 100%;
  font-weight: bold;
  font-family: "Fredoka";
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.2, green, blue, alpha);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
